.box {
    padding: 20px 0;
}

.padding20 {
    padding: 20px;
}

.content {
    padding: 20px 0;
}

.acgn-item {
    width: 180px;
    height: 360px;
}

.textAlignR {
    text-align: right;
}

.ant-card-meta-description {
    max-height: 40px;
    overflow: hidden;
}